@model ResetPassword
@{
    ViewData["Title"] = "Забравена парола";
}

<div class="total-wrap-content">
    <div class="login-section">
        <div class="main-inner-content-wrap anim-block">
            <div class="login-title-wrap anim-elem top">
                <h1 class="title-big">
                    Забравена парола
                </h1>
            </div>
            <div class="login-grid">
                <div class="registration-box" id="registration-box">
                    <div class="login-grid-wrap">
                        <div class="login-image-item anim-elem bottom">
                            <div class="bg-image" style="background-image: url('../../images/login/login-step3.png')"></div>
                        </div>
                        <div class="login-content-item anim-elem top">
                            <div class="login-content-item-wrap">
                                <form asp-controller="Auth" asp-action="ResetPassword" method="post" class="registration-form" autocomplete="off">
                                    <div asp-validation-summary="ModelOnly"></div>
                                    <div class="form-row required">
                                        <label asp-for="Email" class="label-form-fld">E-mail</label>
                                        <input asp-for="Email" type="text" class="form-fld" id="email" required>
                                        <span asp-validation-for="Email"></span>
                                        <div class="border-bottom"></div>
                                        <div class="tooltip-div"></div>
                                    </div>

                                    <div class="form-row required">
                                        <label asp-for="Password" class="label-form-fld">Нова парола</label>
                                        <input asp-for="Password" type="password" class="form-fld" id="password">
                                        <span asp-validation-for="Password"></span>
                                        <div class="border-bottom"></div>
                                        <div class="tooltip-div"></div>
                                    </div>
                                    <div class="form-row required">
                                        <label asp-for="ConfirmPassword" class="label-form-fld">Повтори нова парола</label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-fld" id="re-password">
                                        <span asp-validation-for="ConfirmPassword"></span>
                                        <div class="border-bottom"></div>
                                        <div class="tooltip-div"></div>
                                    </div>
                                    <div class="form-row btn-row">
                                        <button class="submit-btn" type="submit" id="submit-btn">Вход с нова парола</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}